.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.elemento{
    background-color: rgb(15, 15, 15);
    color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.btn-group{
   position: absolute;
    right: 20px;
    bottom: 10px;
}

#divEstrellas{
    position: absolute;
    right: 20px;
}